*{
	margin: 0;
	padding: 0;
                list-style-type: none;
	color: #505050;
}
* a{
	text-decoration: none;
}
.header-top-content p>a{
	text-decoration: none;
	color: #e6087f;
}
.header-top-content ul li{
	float: left;
	padding-left: 30px;
}
.header-top-content ul li a{
	color: black;
	text-decoration: none;
}
.header-top-content ul li a:hover{
	color: red;
	text-decoration: underline;
}
.header-top-content p>a:hover{
	text-decoration: underline;
	color: black;
}
.header-top-content{
	margin-top: 0;
	height: 30px;
}
.header-top form input{
	border: 3px solid #e5067b;
	width: 200px;
	height:35px;
	border-right: none;
}
.header-top form select{
	border: 3px solid #e5067b;
	width: 80px;
	height: 40px;
	border-right: none;
}
#ss{
	border: 3px solid #e5067b;
	background-color: #e5067b;
	color: #fff;
	width: 50px;
	height: 40px;
}
.header{
	background-color: #e5067b;
	width: 100%;
	height:40px;
	clear: both;
	color: #fff;
}
.header ul li{
	float: left;
	padding-left: 80px;
}
.header ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 22px;
}
.header ul li a:hover{
	text-decoration: underline;
	color: black;
}
.section-top{
	width: 100%;
	height: 170px;
	clear: both;
	margin-top:20px;
	margin-left: 300px;
}
.section{
	width: 100%;
	height: 445px;
	margin-top: 40px;
	margin-left:300px;
}
.section p>span{
	font-size: 5px;
}
#dd{
	font-size: 5px;
}
.section dl{
    margin-top: 30px;
}
.section-middle{
	width: 100%;
	height: 554px;
	margin-left: 300px;
}
.section-middle img{
	margin-top: 44px;

}
.section-middle form p input:nth-child(1){
	width: 42px;
	height:21px;
}
.section-middle form p input:nth-child(2){
	width: 55px;
	height: 21px;
}
.section-middle form p input:nth-child(3){
	width: 22px;
	height: 22px;
	color:  #e5067b;
}
.section-middle form p input:nth-child(3):hover{
	background-color: #e5067b;
	color: #fff;
}
.section-middle form p input:nth-child(4){
	width: 22px;
	height: 22px;
	color:  #e5067b;
}
.section-middle form p input:nth-child(4):hover{
	background-color: #e5067b;
	color: #fff;
}
.section-middle form p input:nth-child(5){
	width: 22px;
	height: 22px;
	color:  #e5067b;
}
.section-middle form p input:nth-child(5):hover{
	background-color: #e5067b;
	color: #fff;
}
.section-middle form p input:nth-child(6){
	width: 55px;
	height: 21px;
	color:  #e5067b;
}
.section-middle form p input:nth-child(6):hover{
	background-color: #e5067b;
	color: #fff;
}
.section-middle form p input:nth-child(7){
	width: 42px;
	height:21px;
	color:  #e5067b;
}
.section-middle form p input:nth-child(7):hover{
	background-color: #e5067b;
	color: #fff;
}
.section-footer{
	width: 100%;
	height: 1676px;
	margin-left: 300px;
	margin-top: 55px;
	position: relative;
}
.big{
	margin-top: 48px;
}
.big2{
	margin-top: 33px;
}
.big2 form p input{
	margin-top: 21px;
}
.att{
    width: 42px;
	height:21px;
}
.app{
    width: 55px;
	height: 21px;
}
.avv{
    width: 22px;
	height: 22px;
	color:  #e5067b;
}
.avv:hover{
    background-color: #e5067b;
	color: #fff;
}
.aoo{
    width: 22px;
	height: 22px;
	color:  #e5067b;
}
.aoo:hover{
    background-color: #e5067b;
	color: #fff;
}
.amm{
    width: 22px;
	height: 22px;
	color:  #e5067b;
}
.amm:hover{
    background-color: #e5067b;
	color: #fff;
}
.ayy{
    width: 55px;
	height: 21px;
	color:  #e5067b;
}
.ayy:hover{
    background-color: #e5067b;
	color: #fff;
}
.aqq{
    width: 42px;
	height:21px;
	color:  #e5067b;
}
.aqq:hover{
    background-color: #e5067b;
	color: #fff;
}
.aff{
	margin-left: 510px;
}
.big2 a img{
	margin-top: 17px;
}
.small{
	position: absolute;
	top: 500px;
	right: 800px;
}
.agg{
	border: 3px solid;
	margin-bottom: 20px;
	width: 110px;
	height: 30px;
	border-right:none;
	border-left:none;
    border-bottom: none;
    border-top: none;
}
.agg:focus{
	border: 3px solid red;
	border-right:none;
	border-left:none;
    border-bottom: none;
}
.ajj{
	border: 3px solid;
	margin-bottom: 20px;
	width: 110px;
	height: 30px;
	border-right:none;
	border-left:none;
    border-bottom: none;
    border-top: none;
}
.ajj:focus{
    border: 3px solid red;
	border-right:none;
	border-left:none;
    border-bottom: none;
}
.footer{
	width: 100%;
	height: 369px;
	margin-top: 400px;
	background: #343434;
	position: relative;
}
.footer-top{
	margin-left: 300px;
}
.e{
	font-size: 20px;
}
.footer ul li{
	padding-left: 113px;
}
.footer ul li a{
	color: #c0c0c0;
}
.footer-bottom{
	margin-left: 300px;
	margin-top: 50px;
}
.footer-bottom ul li{
	float: left;
	padding-left: 25px;
}
#l{
	top: 32px;
	right: 145px;
	position: absolute;
}